<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <listeners>
        <listener class-name="genralized_utillity.ExtentReport.TestListener"/>
        <listener class-name="genralized_utillity.RetryFailedTestCase.AnnotationTransformer"/>
    </listeners>
    <test name="Aamazon Test">
        <classes>
            <class name="Tests.AmazonApplication"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->